* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
  background-color: $default-background;
}

::selection {
  background: #F0D8FF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F0D8FF; /* Gecko Browsers */
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: #6328e2;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

mark {
  background-color: #6328e2;
  font-size: 1.3rem;
  font-family: $sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 0.2rem 0 0.2rem;

}

.collection {
  &-bodypart {
    padding: 0 0 0 1rem;
  }

  &-title {
    font-size: 1.1rem;
    font-family: $sans-serif;
    font-weight: 700;
    padding: 0 0 0.2rem;
  }

  &-list {
    padding: 0 0 0 0;
    list-style-type:none;
  }
}

.article {
  &-title {
    color:  $default-shade;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    margin: .1rem 0;
    padding: 0 0 0 1rem;
    font-family: $serif-primary;

  &:hover .article-line,
  &:focus .article-line {
    width: 6rem;
  }
  &:last-child {
    border: 0;
  }

  }

  &-stamp {
    color: #d3d3d3;
    font-style: italic;
    padding: 0 0 0 2rem;
    margin-bottom: -1.5rem;

  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .1rem solid #6328e2;
    display: block;
    width: 4rem;
    padding: .3rem 2rem .3rem 0;
    margin-left: 1rem;
    margin-top: 0.2rem;


  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
    margin-left: 1rem;

  }

  &-reading-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;

  }

  &-new {
	position: absolute;
  width: 100px;
  left: 23%;
  top: 808px;
	z-index: 100;
  transform: rotate(-20deg);
  }

}

@media screen and (max-width: 1300px) {
  .article-new {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  img {
    max-width: 110vw;
    margin: 0 -20% !important;
  }
}

img + em {

}
