---
layout: default
Title: China
permalink: /china/
---

<div class="post">
  <div class="post-line"></div>

  I'm interviewing people who works on technology-enabled products or whose
  career is made possible because of technology products, specifically in China.
  <br /><br />
  Hopefully this will shed some light on why technology in China works the way
  it does, and how products are developed differently there.
  <br /><br />
  Currently, I'm planning on releasing one interview per month. If you have any
  feedback or questions, feel free to email me at wei@weiwei.place
</div>

<!-- {% for post in site.categories.weeknotes %} -->
<!-- <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item"> -->
<!-- <div> -->
<!-- <h1 class="catalogue-title">{{ post.title }}</h1> -->
<!-- <div class="catalogue-line"></div> -->

<!-- <p> -->
<!-- {{ post.content | strip_html | truncatewords: 30 }} -->
<!-- </p> -->

<!-- </div> -->
<!-- </a> -->
<!-- {% endfor %} -->
