---
layout: default
Title: Collection
permalink: /collection/
---

<div class="post">
  <div class="post-line"></div>

  Below is an incomplete collection of blog posts and things/groups I appreciate and respect. The order of this list is randomized because it is arbituary. Also, this collection probably describes more about my own interest than anything else.

<br> <br> <br>

  <div class="collection-title"> Podcasts  </div>

    <div class="collection-bodypart">
      <ul class="collection-list">
        <li class="randomize_podcasts"><a href="https://www.conversationswithtyler.com">Conversations with Tyler</a> by Tyler Cowen  </li>
        <li class="randomize_podcasts"><a href="https://fs.blog/the-knowledge-project/">The Knowledge Project</a> by Shane Parrish </li>
        <li class="randomize_podcasts"><a href="https://www.recode.net/recode-decode-podcast-kara-swisher">Recode Decode</a> by Kara Swisher  </li>
        <li class="randomize_podcasts"><a href="https://www.indiehackers.com/podcast">Indie Hackers</a> by Courtland Allen </li>
        <li class="randomize_podcasts"><a href="https://www.gsd.harvard.edu/talking-practice/">Talking Practice</a> by Grace La </li>
        <li class="randomize_podcasts"><a href="https://www.producthunt.com/radio">Product Hunt Radio</a> by Ryan Hoover & Abadesi Osunsade</li>
        <li class="randomize_podcasts"><a href="https://www.cnn.com/specials/tech/the-human-code">The Human Code</a> by Laurie Segall </li>
        <li class="randomize_podcasts"><a href="https://irlpodcast.org">IRL</a> by Manoush Zomorodi </li>
        <li class="randomize_podcasts"><a href="https://www.alieward.com/ologies">Ologies</a> by Alie Ward </li>

      </ul>
      <br> <br>
    </div>

  <div class="collection-title">My tweets</div>
    <div class="collection-bodypart">
      <ul class="collection-list">
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1179840991466930176">Content designed for vertical viewing</a> </li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1179163493943001090">Motion design for Patriot Act with Hasan Minhaj</li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1103464497157529600">Alibaba's re-commerce app</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1144667443920379910">Animation techniques from Into the Spider-verse</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1098763943495970816">A comparison of revenue distribution between Tencent & Facebook</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1088534031220625409">Interface + Retail observations in Shanghai</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1082880387154468864">Mobility related observations in Shanghai</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1098763943495970816">A comparison between Tencent and Facebook's revenue source</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1179163493943001090">Motion Design for Patriot Act with Hasan Minhaj</a></li>
        <li class="randomize_tweets"><a href="https://twitter.com/glitchyowl/status/1227697758074597376">A gallery of stunning (3d) tutorials/explainers</a></li>
      </ul>
      <br> <br>
    </div>

  <div class="collection-title">Books</div>

    <div class="collection-bodypart">
      <ul class="collection-list">
        <li class="randomize_books"><a href="https://press.stripe.com/#the-dream-machine">The Dream Machine</a> by M. Mitchell Waldrop </li>
        <li class="randomize_books"><a href="http://mitpress.mit.edu/books/architectural-intelligence">Architectural Intelligence</a>  by Molly Wright Steenson</li>
        <li class="randomize_books"><a href="https://en.wikipedia.org/wiki/Reinventing_Fire">Reinventing Fire</a> by Amory B. Lovins </li>
        <li class="randomize_books"><a href="https://en.wikipedia.org/wiki/How_Buildings_Learn">How Buildings Learn</a> by Stewart Brand </li>
        <li class="randomize_books"><a href="https://en.wikipedia.org/wiki/The_Timeless_Way_of_Building">The Timeles Way of Building</a> by Christopher Alexander </li>

      </ul>
      <br> <br>
    </div>

  <div class="collection-title">Articles</div>
    <div class="collection-bodypart">
      <ul class="collection-list">
        <li class="randomize_articles"><a href="https://indieweb.org/Posts_about_the_IndieWeb">Posts about the IndieWeb</a>  by a lot of people! </li>
        <li class="randomize_articles"><a href="https://placesjournal.org/explore-places/infrastructure/">Articles on Infrastructure</a>  by Places Journal </li>
        <li class="randomize_articles"><a href="https://www.theatlantic.com/technology/archive/2017/09/saving-the-world-from-code/540393/">The Coming Software Apocalypse</a>  by James Somers </li>
        <li class="randomize_articles"><a href="http://worrydream.com/ClimateChange/">What Can a Technologist Do About Climate Change</a>  by Bret Victor </li>
        <li class="randomize_articles"><a href="https://nadiaeghbal.com/independent-research">The Independent Research</a> by Nadia Eghbal </li>
        <li class="randomize_articles"><a href="https://nadiaeghbal.com/technical-conversations">Technical Conversations</a> by Nadia Eghbal </li>
        <li class="randomize_articles"><a href="https://www.offscreenmag.com/blog/indie-magonomics">Indie Magonomics – making a sustainable indie print magazine</a> by Kai Brach </li>
        <li class="randomize_articles"><a href="https://medium.com/@maximolly/ai-culture-buildings-cities-and-infrastructures-and-beyond-8b91ce0e916f?_branch_match_id=482767526241079399">AI & Culture: Buildings, Cities (and Infrastructures, and Beyond…)</a> by Molly Wright Steenson </li>
        <li class="randomize_articles"><a href="https://medium.com/s/story/reflecting-on-my-failure-to-build-a-billion-dollar-company-b0c31d7db0e7">Reflecting on My Failure to Build a Billion-Dollar Company</a> by Sahil Lavingia</li>
      </ul>
    </div>

</div>


<div class="collection-title">Groups</div>
  <div class="collection-bodypart">
    <ul class="collection-list">
      <li class="randomize_groups"><a href="http://www.dubberly.com">Dubberly Design Office</a> </li>
      <li class="randomize_groups"><a href="https://dynamicland.org">Dynamicland</a> </li>
      <li class="randomize_groups"><a href="https://100r.co">Hundred Rabbits</a> </li>
      <li class="randomize_groups"><a href="https://newcomputers.group">New Computer Working Group</a> </li>
      <li class="randomize_groups"><a href="https://softsurpl.us">Soft Surplus</a> </li>
      <li class="randomize_groups"><a href="http://skrekkogle.com">Skrekkøgle</a>  </li>
      <li class="randomize_groups"><a href="http://screenl.es">The Screenless Office</a> </li>
      <li class="randomize_groups"><a href="http://frolicstudio.com">Frolic Studio</a> </li>
      <li class="randomize_groups"><a href="https://vimeo.com/bergstudio">BERG</a> </li>
      <li class="randomize_groups"><a href="http://nordprojects.co">Nord Projects</a> </li>
      <li class="randomize_groups"><a href="http://www.indie.vc"> Indie VC</a> </li>
      <li class="randomize_groups"><a href="http://specialprojects.studio">Special Projects</a> </li>
      <li class="randomize_groups"><a href="https://www.plethora-project.com">Plethora Project</a> </li>
      <li class="randomize_groups"><a href="https://otherlab.com">Otherlab</a> </li>
    </ul>
    <br> <br>
  </div>
