---
layout: default
Title: Collection
permalink: /collection/
---

<div class="post">
  <div class="post-line"></div>

  Below is an incomplete collection of blog posts and things/groups I appreciate and respect. The order of this list does not have any implications.

<br> <br>

  <mark> &nbsp Podcasts: &nbsp  </mark> <br><br>

    <div class="collection">
      <a href="https://www.conversationswithtyler.com">Conversations with Tyler</a> <br>
      <a href="https://fs.blog/the-knowledge-project/">The Knowledge Project</a> <br>
      <a href="https://baike.baidu.com/item/时间的朋友/20353715">時間的朋友</a> <br>
      <br> <br>
    </div>

  <mark> &nbsp Groups: &nbsp  </mark> <br><br>
    <div class="collection">
      <a href="http://www.dubberly.com">Dubberly Design Office</a><br>
      <a href="https://dynamicland.org">Dynamicland</a><br>
      <a href="https://newcomputers.group">New Computer Working Group</a><br>
      Soft Surplus<br>
      <a href="http://skrekkogle.com">Skrekkogle</a> <br>
      <a href="http://screenl.es">The Screenless Office</a><br>

      <br> <br>
    </div>

  <mark> &nbsp Books: &nbsp  </mark> <br><br>
    <div class="collection">
      <a href="https://press.stripe.com/#the-dream-machine">The Dream Machine</a> by M. Mitchell Waldrop <br>
      <a href="http://mitpress.mit.edu/books/architectural-intelligence">Architectural Intelligence</a>  by Molly Wright Steenson<br>

      <br> <br>
    </div>

  <mark> &nbsp Articles: &nbsp  </mark> <br> <br>
    <div class="collection">
      <a href="https://www.theatlantic.com/technology/archive/2017/09/saving-the-world-from-code/540393/">The Coming Software Apocalypse</a>  by James Somers<br>

    </div>

</div>
