---
layout: default
Title: Comic log
permalink: /comic/
---

<div class="post">
  <div class="post-line"></div>

  One of my dreams is to be able to express through illustrated comics, but I think it’s going to take a while for me to be fluent enough to tell stories in that beautiful medium.

  <br><br>
  For now, I’d like to try and make collages with photos, words, and lines and shapes! As I understand myself more, I realize that I think better in a blend of media types, and I’m looking forward to making more and iterating on comic log as a way to share stories.

  <br><br>Hopefully, there will be a day where they become more dynamic, partially animated, bi-directionally linked, and more. If you have suggestions and/or want to riff on this, let me know!


</div>

{% for post in site.categories.comic %}
<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.title == "So.. Where’s Home?" %}
        {{ post.content | strip_html | truncatewords: 4 }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 25 }}
      {% endif %}
    </p>

  </div>
</a>
{% endfor %}
