---
layout: default
Title: Photo comic
permalink: /comic/
---

<div class="post">
  <div class="post-line"></div>

  Photo comic description coming soon..!

  <br><br>


  <br><br>

</div>

{% for post in site.categories.comic %}
<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.title == "So.. Where’s Home?" %}
        {{ post.content | strip_html | truncatewords: 4 }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
{% endfor %}
