---
layout: default
---
<div class="post">

<div class="post-line"></div>

I think a lot about relationships, interactions, and stories. I'm gradually thinking more about tactility, spaces, conversations, and urban systems.

<br><br>

I write weeknotes to reflect upon my day-to-day actions. I write blog posts to summarize a feeling I have. If you'd like to converse about something, or view my design portfolio, you can email me at <a href="mailto:wei@weiweihsu.com?Subject=Hello" target="_top">wei@weiweihsu.com</a>

<br><br>

Currently, I'm adjusting to my post-college life. I'm trying to understand <i>how</i> I can devote my time to what I want to do. For most of the days, I feel both exponentially lost and immensely motivated. However, if you know me in real life, you probably won't spot either on my face.

<br><br>

My senior thesis was on the "Space" of Computing: Computer went from being a job title for people who do calculations, to large machines that would fill up an entire room, to devices so small that they would fit into different objects and dissolve into our environment. Clearly, our conception of "computing" has changed and <i>continues</i> to change. This work identified dimensions that constitute the "space of computing". While some dimensions are less recognizable than others, defining them is an essential undertaking because defining the scope of "computing space" is to understand past, present, and future of our technological advancements, what we've already done and what we've neglected. You can view the thesis presentation <a href="https://www.youtube.com/watch?v=nVFS85Zx6uw">here</a>.

<br><br>

Thank you for spending some time here. Stay a while if you aren't in a rush.

</div>


<div class="pagination">

</div>
<mark> &nbsp Blog &nbsp  </mark>
<br> <br>
<div class="article">


  <!-- <img id="new_post" src="https://media.giphy.com/media/cQ23qw9OduzBc4ju7U/giphy.gif"> -->

  <!-- <div class="article-new"> coming soon </div>
  <a href="{{ post.url | prepend: site.baseurl }}" class="article-title">
  <h1 class="article-title">Defining the Dimensions of the ‘Space’ of Computing</h1> -->
  <!-- <div class="article-line"></div> -->
  <!-- <time class="article-time"> April 15, 2019 • 10min</time>
  <br><br>
  </a> -->

  {% for post in site.categories.blog  %}
  {% if post.external-url %}

      <a href="{{ post.external-url }}" class="article-title">

          <h1 class="article-title">{{ post.title }} ↗</h1>
          <div class="article-line"></div>
          <time datetime="{{ post.date }}" class="article-time">{{ post.date | date: "%B %d, %Y" }}</time>
          <time class="article-reading-time">• {{ post.reading-time }} </time>
      </a>
      <br>
  {% else %}

      <a href="{{ post.url | prepend: site.baseurl }}" class="article-title">

          <h1 class="article-title">{{ post.title }}</h1>
          <div class="article-line"></div>
          <time datetime="{{ post.date }}" class="article-time">{{ post.date | date: "%B %d, %Y" }}</time>
          <time class="article-reading-time">• {{ post.reading-time }} </time>
      </a>
      <br>
  {% endif %}


  {% endfor %}


</div>

<div class="pagination">

</div>


<mark> &nbsp Weeknotes &nbsp </mark>

<div class="catalogue">

  {% for post in site.categories.weeknotes limit:3 %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
    <div>

      <h1 class="catalogue-title">{{ post.title }}</h1>
      <div class="catalogue-line"></div>

      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>

    </div>
  </a>
  {% endfor %}


  <!-- {% for post in paginator.posts limit:1 %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h5 class="catalogue-title">{{ post.title }}</h5>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 26 }}
        </p>

      </div>
    </a>
  {% endfor %} -->
</div>

<div class="pagination">
</div>
