---
layout: default
---

<div class="post">
  <div class="post-line"></div>

  In general, I strive to be fearless, but not delusional; be joyful, but not
  naive; be passionately obsessive, but not stupidly stubborn.


  <!--In the long-term, I want to help close the gap between ideals and reality,
  academic and industry. -->

  <br /><br />
  Currently, I'm building with the team at <a href="https://sprout.place">Sprout</a> on a new product; it'll enable us to create anesthetic video experiences. I strongly believe
  computing environments can be and should be more fluid, playful,
  and expressive. Before this, I built small products at
  <a href="http://tinyfactories.space">Tiny Factories</a> and researched computing as a medium at <a href="http://dynamicland.org">Dynamicland</a>.

  <!-- In a few years, I hope to take the learnings from making, launching, marketing, selling products in a monthly-cycle and apply them to bigger projects. -->

  <!-- I think a lot about relationships, interactions, and stories. I'm gradually thinking more about tactility, spaces, conversations, and urban systems.

I write weeknotes to reflect upon my day-to-day actions. I write blog posts to summarize a feeling I have. If you'd like to converse about something, or view my design portfolio, you can email me at <a href="mailto:wei@weiweihsu.com?Subject=Hello" target="_top">wei@weiweihsu.com</a>

Currently, I'm adjusting to my post-college life. I'm trying to understand <i>how</i> I can devote my time to what I want to do.  -->

  <br /><br />

  More than half a decade ago, I gave a talk on the "Space" of Computing: how our conception of "computing" has
  has been changing and <i>continues</i> to change. You can watch it
  <a href="https://www.youtube.com/watch?v=nVFS85Zx6uw">here</a> and the paper I
  co-authored
  <a href="https://jods.mitpress.mit.edu/pub/6pewbpry/release/1">here</a>.

  <br /><br />

  Thank you for spending some time here. Stay a while and write me a letter if
  you aren't in a rush!
</div>

<div class="pagination"></div>
<mark> &nbsp Blog &nbsp </mark>
<br />
<br />
<div class="article">
  <!-- <img id="new_post" src="https://media.giphy.com/media/cQ23qw9OduzBc4ju7U/giphy.gif"> -->

  <!-- <div class="article-new"> coming soon </div>
  <a href="{{ post.url | prepend: site.baseurl }}" class="article-title">
  <h1 class="article-title">Defining the Dimensions of the ‘Space’ of Computing</h1> -->
  <!-- <div class="article-line"></div> -->
  <!-- <time class="article-time"> April 15, 2019 • 10min</time>
  <br><br>
  </a> -->

  {% for post in site.categories.blog %} {% if post.external-url %}

  <a href="{{ post.external-url }}" class="article-title">
    <h1 class="article-title">{{ post.title }} ↗</h1>
    <div class="article-line"></div>
    <time datetime="{{ post.date }}" class="article-time"
      >{{ post.date | date: "%B %d, %Y" }}</time
    >
    <time class="article-reading-time">• {{ post.reading-time }} </time>
  </a>
  <br />
  {% else %}

  <a href="{{ post.url | prepend: site.baseurl }}" class="article-title">
    <h1 class="article-title">{{ post.title }}</h1>
    <div class="article-line"></div>
    <time datetime="{{ post.date }}" class="article-time"
      >{{ post.date | date: "%B %d, %Y" }}</time
    >
    <time class="article-reading-time">• {{ post.reading-time }} </time>
  </a>
  <br />
  {% endif %} {% endfor %}
</div>

<div class="pagination"></div>

<mark> &nbsp Weeknotes &nbsp </mark>

<div class="catalogue">
  {% for post in site.categories.weeknotes limit:3 %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
    <div>
      <h1 class="catalogue-title">{{ post.title }}</h1>
      <div class="catalogue-line"></div>

      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>
    </div>
  </a>
  {% endfor %}

  <!-- {% for post in paginator.posts limit:1 %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h5 class="catalogue-title">{{ post.title }}</h5>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 26 }}
        </p>

      </div>
    </a>
  {% endfor %} -->
</div>

<div class="pagination"></div>
