---
layout: default
Title: Weeknotes
permalink: /weeknotes/
---

<div class="post">
  <div class="post-line"></div>

  I often re-remember the times when I wrote something everyday or every month. In order to reflect upon my work and life and inspired by Matt Webb's <a href="https://medium.com/job-garden/a-pre-history-of-weeknotes-plus-why-i-write-them-and-perhaps-why-you-should-too-week-16-31a4a5cbf7b0">article on Weeknotes</a>, I've decided scribble down thoughts and group them by weeks.

  <br><br>
  <s>In the hopes of making these weeknotes useful when looking back, I'm tagging work done under an organization/collective with the symbol &. In the future, I will sort these weeknotes by projects, to trace and see how everything unfolded.</s> <- This did not work, I think I will need to find a different way to trace how my thinking evolve.

  <br><br>

  As these are published in very raw form, please be generous when reacting to them.

</div>

{% for post in site.categories.weeknotes %}
<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {{ post.content | strip_html | truncatewords: 30 }}
    </p>

  </div>
</a>
{% endfor %}


<!-- <div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>


{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->
